.<div class="page-header">
  <h1>Hello <em>{{ main.realname }}</em> from about <small></small></h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>No</th><th>Nama</th><th>Kelas</th><th>Alamat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td><td>Sukemi</td><td>XI MM 2</td><td> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aperiam error laborum sed suscipit, ut qui! Quasi modi veniam ab nulla, vel expedita eaque eum rem unde, esse repudiandae nam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fuga porro consequuntur sapiente aperiam illum, impedit earum accusamus praesentium libero quod nisi illo tenetur quidem tempore, odit provident rerum fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempora consequatur soluta ut. Assumenda molestias, eius debitis aliquam quae at ab aspernatur error quod optio quisquam amet dolore voluptate cupiditate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur earum nemo, cum veritatis sit harum doloremque! Eum et tempore ad voluptatibus nam nemo, dolorem earum, fuga quos eligendi, cum tenetur.</td>
      </tr>
      <tr>
        <td>1</td><td>Sukemi</td><td>XI MM 2</td><td> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aperiam error laborum sed suscipit, ut qui! Quasi modi veniam ab nulla, vel expedita eaque eum rem unde, esse repudiandae nam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fuga porro consequuntur sapiente aperiam illum, impedit earum accusamus praesentium libero quod nisi illo tenetur quidem tempore, odit provident rerum fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempora consequatur soluta ut. Assumenda molestias, eius debitis aliquam quae at ab aspernatur error quod optio quisquam amet dolore voluptate cupiditate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur earum nemo, cum veritatis sit harum doloremque! Eum et tempore ad voluptatibus nam nemo, dolorem earum, fuga quos eligendi, cum tenetur.</td>
      </tr>
      <tr>
        <td>1</td><td>Sukemi</td><td>XI MM 2</td><td> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aperiam error laborum sed suscipit, ut qui! Quasi modi veniam ab nulla, vel expedita eaque eum rem unde, esse repudiandae nam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fuga porro consequuntur sapiente aperiam illum, impedit earum accusamus praesentium libero quod nisi illo tenetur quidem tempore, odit provident rerum fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempora consequatur soluta ut. Assumenda molestias, eius debitis aliquam quae at ab aspernatur error quod optio quisquam amet dolore voluptate cupiditate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur earum nemo, cum veritatis sit harum doloremque! Eum et tempore ad voluptatibus nam nemo, dolorem earum, fuga quos eligendi, cum tenetur.</td>
      </tr>
      <tr>
        <td>1</td><td>Sukemi</td><td>XI MM 2</td><td> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aperiam error laborum sed suscipit, ut qui! Quasi modi veniam ab nulla, vel expedita eaque eum rem unde, esse repudiandae nam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fuga porro consequuntur sapiente aperiam illum, impedit earum accusamus praesentium libero quod nisi illo tenetur quidem tempore, odit provident rerum fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempora consequatur soluta ut. Assumenda molestias, eius debitis aliquam quae at ab aspernatur error quod optio quisquam amet dolore voluptate cupiditate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur earum nemo, cum veritatis sit harum doloremque! Eum et tempore ad voluptatibus nam nemo, dolorem earum, fuga quos eligendi, cum tenetur.</td>
      </tr>
    </tbody>
  </table>
</div>