<div class="container-fluid" style="
    background-image: url('assets/img/homeBack.png');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    padding: 0 20px;
">
    <h1>Hi {{ main.username }}</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos voluptate quo, ipsa. Itaque sunt, quidem quia facilis! Suscipit nemo debitis cum odit obcaecati labore consequuntur, velit voluptas, numquam accusantium repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium debitis facere, quae unde, reprehenderit autem fugiat nisi, harum suscipit labore iusto ipsa ab asperiores quia earum distinctio iste expedita eum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos voluptate quo, ipsa. Itaque sunt, quidem quia facilis! Suscipit nemo debitis cum odit obcaecati labore consequuntur, velit voluptas, numquam accusantium repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium debitis facere, quae unde, reprehenderit autem fugiat nisi, harum suscipit labore iusto ipsa ab asperiores quia earum distinctio iste expedita eum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos voluptate quo, ipsa. Itaque sunt, quidem quia facilis! Suscipit nemo debitis cum odit obcaecati labore consequuntur, velit voluptas, numquam accusantium repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium debitis facere, quae unde, reprehenderit autem fugiat nisi, harum suscipit labore iusto ipsa ab asperiores quia earum distinctio iste expedita eum.</p>
</div>
