@media(min-width: 768px){
    body{
        background: #dedede;
        padding-bottom: 50px;
        top: 50px;
    }
    .navbar-header{
        width: 16.912%;
        background: #636665;
    }
    .navbar-header .navbar-brand{
        margin-left: 0!important;
    }
    #sideToggle i{
        line-height: 50px;
        margin-left: 25px;
    }
    .content{
        position: relative;
        margin-top: 50px;
    }
    
    .sideHide{
        transform: translateX(-100%);
    }
    .grav-img{
        display: block!important;
        filter: grayscale(50%);
    }
    .side{
        background: #287c65;
        color: #efefef;
        min-height: 100vh;
        height: auto;
        padding: 0!important;
        position: fixed;
        transition: all 0.35s ease-in-out;
        overflow-y: auto;
    }

    .gravatar{
        position: relative;
        height: 200px;
        background: pink;
        overflow: hidden;
    }
    .gravatar p{
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0,0.3);
        margin: 0;
        width: 100%;
        /* padding: 10px; */
        text-align: center;
        text-transform: uppercase;
        height: 50px;
        display: block;
    }
    .gravatar a{
        color: #efefef;
        display: block;
        line-height: 50px;
    }
    .gravatar p a:hover{
        background: rgba(160,218,188,0.3);
        text-decoration: none;
        color: #fff;
    }
    .side-nav {
        display: block;
        /*position: relative;*/
    }
     .side .nav li{
        margin-top: 0!important;
    }
    .side > .nav > li a {
        color: #dedede;
        margin: 0!important;
    }

    .side .nav li a span{
        color: #999;
    }
    .side > .nav > li > a:active{
        background: #ccc;
    }
    .side > .nav > li > a:hover,
    .side > .nav > li > a:focus,
    .side > .nav > li > a:active{
        color: #636665;
    }

    .main{
        margin-left: 16.7%;
        padding-bottom: 50px !important;
        transition: all 0.35s ease-in-out;
        padding-left: 20px;
        background: #ddd;
        box-sizing: border-box;
        /* width: 80%; */
    }
    .mainSlide{
        /*transform: translateX(-20%);*/
        margin-left: 0!important;
        width: 100%;
        overflow: hidden;
        padding-right: 0!important;
    }

    /* .main .page,
    .mainShrink .page,
    .mainSlide{
        /* background: black; */
        /* position: absolute;
        left: 0;
        right: 0;
         height: 90vh; */
         /* padding: 0 20px;  */
    /* } */
    .toggleUserForm{
        color: #efefef;
    }

    #tblBarang tr td, th{
        font-size: small;
        padding-top: 3px!important;
        padding-bottom: 3px!important;
    }
    footer{
        position: fixed!important;
        bottom: 0!important;
        background: #cdcdcd;
        height: 50px;
    }
    footer p{
        line-height: 50px;
        text-align: center;
        /* text-shadow: 0 0 1px rgba(0,0,0,0.3); */
        margin: 0!important;
    }

}
@media (max-width: 767px){
    .grav-img{
        height: 50px!important;
        width: auto;
    }
    .navbar-header{
        background: #195343;
        /* height: 40px; */
    }
    #sideToggle{
        /* left: 50%; */
         margin-left: 50%; 
    }
     .sideHide{
        transform: translateX(-100%);
    }

   .side{
        background: #287c65;
        color: #efefef;
        min-height: 100vh;
        height: auto;
        padding: 0!important;
         position: absolute;
         transition: all 0.35s ease-in-out; 
         z-index: 1;
         /* transform: translateX(-100%);  */
        /* float: left; */
        width: 80%;
        top: 125px;
    }
    .navbar-brand{
        text-transform: uppercase;
    }
    
    
    .gravatar{
        position: relative;
    }
    .grav-img{
        /*display: none!important;*/
        filter: grayscale(50%);
        float: left;
    }
    .gravatar a{
        color: #efefef;
        display: block;
        line-height: 50px;
    }
    .gravatar p{
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0,0.3);
        margin: 0;
        width: 100%;
        /* padding: 10px; */
        text-align: center;
        text-transform: uppercase;
        height: 50px;
        display: block!important;
    }
    .gravatar p a:hover{
        background: rgba(160,218,188,0.3);
        text-decoration: none;
        color: #fff;
    }
    .side .nav {
        clear: both;
        /*display: none;*/
    }
    .side .nav li{
        margin-top: 0!important;
    }
    .side > .nav > li a {
        color: #dedede;
        margin: 0!important;
    }

    .side .nav li a span{
        color: #999;
    }
    .side > .nav > li > a:active{
        background: #ccc;
    }
    .side > .nav > li > a:hover,
    .side > .nav > li > a:focus,
    .side > .nav > li > a:active{
        color: #636665;
    }
    .main{
        min-height: 100vh;
        height: 100vh;
        position: absolute;
        top: 100px;
    }
}
    /* Table User Style  */
    /* table, th, td{
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

    table tr:nth-child(odd){
        background: #aaa;
    }
    table tr:nth-child(even){
        background: #fff;
    } */
   
    
    /* Bootstrap Override  */
    *{
        box-sizing: border-box!important;
    }
    .navbar{
        border-radius: 0!important;
        margin-bottom: 0!important;
        border: 0!important;
    }
    .navbar .container-fluid{
        padding-left: 0!important;
    }
    th{
        text-align: center;
        text-transform: uppercase;
    }
    .form-control-feedback {
        line-height: 34px!important;
    }

    .btn{
        border-radius: 0!important;
        transition: all 0.2s linear;
        /* position: relative; */
    }
    .btn:hover{
        transform: translateY(-2px);
        border: 0!important;
        box-shadow: 0 5px 5px -3px rgba(0,0,0,0.6);
    }
    table {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    }
    tbody{
        background: #efefef!important;
    }
    #brgSearchBox,
    .fa-search,
    #brgPagination{
        margin: 50px auto 0!important;
    }

    .form-control {
        border-radius: 1px!important;
    }

    .btn-detil{
        padding: 5px 10px;
        background-image: linear-gradient(to right, #287c65, #287c65 50%, rgba(0,0,0,0) 50%,rgba(0,0,0,0));
        background-size: 200% 100%;
        background-position: right center;
        transition: all 0.2s linear;
        color: #287c65;
        display: block;
    }
    .btn-detil:hover{
        text-decoration: none;
        background-position: left center;
        color: #eee;
        /* box-shadow: 0 3px 5px rgba(0,0,0,0.5); */
    }

    #homePage{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        background: rgba(0,0,0,0.9);
    }

    #homePage:before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: block;
        background-image: url("../img/bg.jpeg");
        background-size: cover;
         -webkit-filter: blur(15px); 
         
    }

    #homePage .homeLogo{
        position: absolute;
        width: 300px;
        top: 15%;
        left: 17%;
        color: #287c65;
        font-weight: 700;
        text-align: center;
        /* background: #eee; */
        /* padding: 10px; */
    }

    #homePage .homeLogo img{
        width: 200px;
    }
    #homePage .homeLogo .desc{
        display: block;
        background: #287c65;
        color: #efefef;
        padding: 20px;
        text-transform: uppercase;
         margin-top: 10px; 
    }
    #homePage .loginPanel{
        position: absolute;
        width: 300px;;
        background: #efefef;
        height: 300px;
        right: 150px;
        top: 25%;
        border-radius: 5px;
        padding: 20px;
        box-sizing: border-box;
    }