<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="device-width, initial-scale=1.0">
	<meta id="pgDesc" name="description" content="Penjelasan Halaman">
	<meta id="pgTag" name="keywords" content="kata, kunci, halaman, artikel">
	<meta id="auth" name="author" content="Muhammad Soleh">
	<title id="pgTitle">It's Me</title>
	<link rel="stylesheet" href="assets/css/slide.css">
	<link rel="icon" href="assets/img/numi.svg" type="image/svg">
</head>
<body>
	<div id="wrap">
		<div class="page" id="home">
			<div class="papan" style="text-align: center">
				<img src="assets/img/numi.svg" alt="">
				<h1>Salam.</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae necessitatibus, ea totam maiores doloremque harum officia laborum obcaecati delectus, sit qui. Non dolores, distinctio quis dicta quasi esse recusandae tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, alias adipisci iure. Quas enim provident necessitatibus illum, consequuntur porro cum saepe quam, perferendis harum! Culpa, reiciendis corporis quas ipsa ab.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint aut, nesciunt dolorum porro quae iure itaque, eaque aliquid dolorem, voluptas similique! Blanditiis ad, aut mollitia explicabo fugiat nisi suscipit! Maxime?</p>
			</div>
		</div>
		<div class="page" id="about">
			<div class="papan">
				<h3 class="judul">Tentang Saya</h3>
				<div class="article" id="dataUser"></div>
			</div>
			
		</div>
		<div class="page" id="blogs">
			<h3 class="judul">Tulisan</h3>
			<div class="article"></div>
		</div>
		<div class="page" id="register">
			<h3 class="judul">Daftar</h3>
			<div class="article"></div>
		</div>
		<div class="page" id="portfolio">
			<h3 class="judul">Ruang Karya</h3>
			<div class="article"></div>
		</div>
		<div class="page" id="contact">
			<h3 class="judul">Form Untuk Menghubungi Saya</h3>
			<div class="article"></div>
		</div>
	</div>
	<ul id="nav">
		<li class="brand" >
			<img src="assets/img/numi.svg" alt="NuMi">
		</li>
		<li><a href="#home" class="active" onclick="pgHome()">Beranda</a></li>
		<li><a href="#about" onclick="pgAbout()">Tentang Saya</a></li>
		<li><a href="#blogs">Tulisan</a></li>
		<li><a href="#register">Daftar</a></li>
		<li><a href="#portfolio">Ruang Karya</a></li>
		<li><a href="#contact">Hubungi Saya</a></li>
	</ul>

	<script src="assets/js/jquery-1.7.1.min.js"></script>
	<script src="assets/js/scrollTo.js"></script>
	<script src="assets/js/slide.js"></script>
</body>
</html>