<!-- <h3 class="page-header">Inventaris</h3> -->
<div class="container-fluid" style="margin-top:50px!important">
    <div class="row-fluid">
        <div  class="btn-group">
            <button class="btn btn-sm btn-primary" type="button" ng-click="barang.showFrmBarang();">Entry Barang</button><!--  ng-model="frmBarang" ng-click="frmBarangShow()" -->
            <button class="btn btn-sm btn-success" type="button">Inventaris</button>
            <button class="btn btn-sm btn-danger" type="button">Pemusnahan</button>
        </div>
    </div>
    <br>
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="col-sm-6">
                <h2>Data Barang Milik Dept. TI</h2>
                <p>Masukkan kata kunci untuk menemukan barang sesuai kriteria.</p>
            </div>
            <div class="col-sm-3">
                <!-- <a href="#" ng-click="barang.refresh()" class="pull-right"><i class="fa fa-refresh fa-2x"></i></a> -->
                <ul class="pagination" id="brgPagination">
                    <li><a href="#"><<</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">>></a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="input-group has-feedback">
                    <input class="form-control" placeholder="Filter Pencarian" ng-model="searchBarang.$" id="brgSearchBox">
                    <i class="fa fa-search form-control-feedback"></i>
                </div>
            </div>
        </div>

        <!-- <div class="table-responsive">             -->
            <table class="table table-striped table-bordered" id="tblBarang" ng-model="tblBarang">
                <thead>
        
                    <tr style="background: #333; color:#efefef">
                        <th>No <a ng-click="orderBy()"><i class="fa fa-sort"></i></a></th>
                        <th>Kode <a ng-click="orderBy('kodeBarang')"><i class="fa fa-sort"></i></a></th>
                        <th>Nama Barang <a ng-click="orderBy('namaBarang')"><i class="fa fa-sort"></i></a></th>
                        <th>Kategori <a ng-click="orderBy('kategori')"><i class="fa fa-sort"></i></a></th>
                        <th>Lokasi <a ng-click="orderBy('lokasi')"><i class="fa fa-sort"></i></a></th>
                        <th>Kondisi <a ng-click="orderBy('kondisi')"><i class="fa fa-sort"></i></a></th>
                        <th>Status <a ng-click="orderBy('status')"><i class="fa fa-sort"></i></a></th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in barangs | orderBy:orderProperty | filter:searchBarang" >
                        <td style="text-align:center">{{ $index + 1 }}</td>
                        <td style="text-align:center">{{ data._id}}</td>
                        <td><a href="javascript:void(0);" ng-click="barang.getDetil(data._id);">{{ data.namaBarang }}</a></td>
                        <td>{{ data.kategori.namaKategori }}</td>
                        <td>{{ data.lokasi.lokasi }}</td>
                        <td>{{ data.kondisi.baik}} | {{ data.kondisi.lengkap }}</td>
                        <td>{{ data.statusBarang.status }}</td>
                        <td><a href="javascript:void(0);" ng-click="barang.hpsBarang(data._id)"> <i class="fa fa-trash"></i></a> | 
                            <a href="javascript:void(0);" ng-click="barang.getEditBrg(data._id);"> <i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
           
        <!-- </div> -->
    
</div>
</div>


 <div class="modal fade"  role="dialog" id="frmBarang"><!-- ng-show="frmBarang" -->
     <div class="modal-dialog" style="width: 80%;">  
         <div class="modal-content" style="border-radius:0!important; background: #effff9">
            <div class="modal-header"> 
                <button class="close" ng-click="barang.reload();" data-dismiss="modal">&times;</button>
                <h3>Formulir {{ frmTitle }}</h3>
            </div>
            <div class="modal-body">
                <form class="form" ng-submit="barang.regBarang(dataBarang)">
                    <div class="row">
                        <div class="col-sm-7">
                            
                            <div class="form-group">
                                <label for="idBarang">Kode:</label>
                                
                                <input type="text" ng-model="barang.dataBarang._id" ng-disabled="barang.editMode" class="form-control input-sm" id="idBarang" placeholder="Kode Barang" />
                                
                            </div>
                            <div class="form-group">
                                <label for="namaBarang" >Nama:</label>
                                
                                <input ng-model="barang.dataBarang.namaBarang" class="form-control input-sm" id="namaBarang" placeholder="Nama Barang" />
                                
                            </div>

                            <div class="form-group">
                                <label for="spesifikasi">Spesifikasi:</label>
                                    
                                <textarea ng-model="barang.dataBarang.spesifikasi" class="form-control input-sm" id="spesifikasi" placeholder="Spesifikasi: Pisahkan dengan koma (contoh: Intel core i3 1.5GHz, RAM DDR3 4GB, HDD 500GB SATA)" rows="4"></textarea>
                                    
                            </div>

                            <div class="form-group">
                                <label for="imgBarang">Gambar Barang:</label>
                                    
                                <input ng-model="barang.dataBarang.imgBarang" class="form-control input-sm" type="file" id="imgBarang" placeholder="ID Barang">
                                   
                            </div>

                            <div class="form-group">
                                <label for="kondisi" class="col-sm-4">Kondisi:</label>
                                    
                                <div class="checkbox">
                                    <label><input type="checkbox" value="Baik" ng-model="barang.dataBarang.kondisi.baik">Baik</label>
                                    &nbsp; | &nbsp;
                                    <label><input type="checkbox" value="Lengkap" ng-model="barang.dataBarang.kondisi.lengkap">Lengkap</label>
                                </div>
                                    
                            </div>

                            <div class="form-group">
                                <label for="ketBarang">Keterangan:</label>
                                
                                <textarea ng-model="barang.dataBarang.keterangan" class="form-control input-sm" id="ketBarang" placeholder="Keterangan" rows="3"></textarea>
                                    
                            </div>
                        </div>
                        <div class="col-sm-5">
                            
                            <div class="form-group">
                                <label for="kategori">Kategori</label>
                                <select class="form-control input-sm" id="kategori" ng-model="katSelected" ng-options="kategori._id as kategori.namaKategori for kategori in kategoris">
                                    <option value="" selected> -Pilih Kategori- </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="lokasi">Lokasi</label>
                                <select class="form-control input-sm" id="lokasi" ng-model="lokSelected" ng-options="lokasi._id as lokasi.lokasi for lokasi in lokasis">
                                    <option value="" selected> -Pilih Lokasi Barang- </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="status">Status</label>
                                <select class="form-control input-sm" id="status" ng-model="statSelected" ng-options="status._id as status.status for status in statuses">
                                    <option value="" selected> -Pilih Status Barang- </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-primary center-block" ng-click="barang.reloadRoute()" type="submit">{{submitTitle}}</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="container-fluid">
                            <div class="alert alert-info" >
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <h4>Info: <small><br>{{ barang.info }}</small></h4>
                            </div>
                        </div>
                        
                    </div>

                </form>
            </div><!-- modal body  -->
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="barang.reload();" data-dismiss="modal">Batal</button>
            </div>
        </div> <!-- Modal COntent   -->
     </div>   
</div><!-- End AddBarangModal -->

<div class="modal fade" role="dialog" id="modalDetil">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close pull-right" data-dismiss="modal">&times;</button>
                <h3>Informasi Detil <small>{{brgDetil.namaBarang}}</small></h3>
            </div>
            <div class="modal-body">
                <img src="assets/img/uploads/pic.jpg" alt="{{brgDetil._id}}" class="img-responsive img-rounded img-thumbnail center-block" width="300px">
                <br>
                <table class="table table-striped" style="box-shadow: none!important">
                    <tr><td>Kode Barang: </td><td>{{ brgDetil._id }}</td></tr> 
                    <tr><td>Nama Barang: </td><td>{{ brgDetil.namaBarang }}</td></tr>
                    <tr><td>Kategori: </td><td>{{ brgDetil.kategori.namaKategori }}</td></tr>
                    <tr><td>Lokasi: </td><td>{{ brgDetil.lokasi.lokasi }}</td></tr>
                    <tr><td>Spesifikasi: </td><td>{{ brgDetil.spesifikasi }}</td></tr>
                </table>
            </div>
            <div class="modal-footer">
                <p>Detil Barang <strong>{{ brgDetil.namaBarang}}</strong></p>
            </div>
        </div>
    </div>
</div>